[Unit]
Description=UPS battery watchdog
Documentation=https://github.com/rafaelc/ups-battery-watchdog
After=apcupsd.service network.target
Wants=apcupsd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/ups-battery-watchdog/ups_battery_watchdog.py
# Override examples:
# ExecStart=/usr/bin/python3 /opt/ups-battery-watchdog/ups_battery_watchdog.py --delay 2
# ExecStart=/usr/bin/python3 /opt/ups-battery-watchdog/ups_battery_watchdog.py --host 192.168.1.x --delay 2

[Install]
WantedBy=multi-user.target
